@import url("https://fonts.googleapis.com/css?family=Merriweather:700|Open+Sans:400,700");
html,
body {
  overflow-x: hidden;
  font-size: 12px; }
  @media screen and (min-width: 576px) {
    html,
    body {
      font-size: 14px; } }
  @media screen and (min-width: 768px) {
    html,
    body {
      font-size: 15px; } }
  @media screen and (min-width: 992px) {
    html,
    body {
      font-size: 16px; } }

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
ol,
span {
  margin: 0;
  padding: 0; }

a {
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s; }
  a:link, a:hover, a:active, a:focus, a:visited {
    color: #3be2ae;
    text-decoration: none; }
  a:hover {
    color: #428d2a; }

img {
  max-width: 100%;
  height: auto; }

ul,
ol {
  list-style: none;
  padding-left: 0; }

input,
button,
textarea {
  border: none; }
  input:focus,
  button:focus,
  textarea:focus {
    outline: none !important; }

::-moz-selection {
  background-color: #3be2ae;
  color: #ffffff; }

::selection {
  background-color: #3be2ae;
  color: #ffffff; }

.heading-primary, h1 {
  font-family: "Merriweather", "Times New Roman", serif;
  font-size: 3rem;
  line-height: 3.75rem;
  color: #ffffff;
  font-weight: 700; }
  @media screen and (min-width: 768px) {
    .heading-primary, h1 {
      font-size: 2.25rem;
      line-height: 2.8125rem; } }

.heading-secondary, h2 {
  font-family: "Merriweather", "Times New Roman", serif;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #333333;
  font-weight: 700; }
  @media screen and (min-width: 768px) {
    .heading-secondary, h2 {
      font-size: 1.5rem;
      line-height: 1.875rem; } }

.heading-tertiary, h3 {
  font-family: "Merriweather", "Times New Roman", serif;
  font-size: 1.5rem;
  line-height: 1.9167rem;
  color: #333333;
  font-weight: 700; }
  @media screen and (min-width: 768px) {
    .heading-tertiary, h3 {
      font-size: 1.125rem;
      line-height: 1.4375rem; } }

.paragraph, p, .btn, .contact__form label, .contact__form input,
.contact__form textarea, .filters__form-group select,
.filters__form-group input, .pagination__btn, .pagination__pages-link, table th, table td, .nav__menu-item {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-size: 1.167rem;
  line-height: 1.833rem;
  color: #333333; }
  @media screen and (min-width: 768px) {
    .paragraph, p, .btn, .contact__form label, .contact__form input,
    .contact__form textarea, .filters__form-group select,
    .filters__form-group input, .pagination__btn, .pagination__pages-link, table th, table td, .nav__menu-item {
      font-size: .875rem;
      line-height: 1.375rem; } }
  .paragraph--small, .contact__form label {
    font-size: 1rem; }
    @media screen and (min-width: 768px) {
      .paragraph--small, .contact__form label {
        font-size: .75rem; } }
  .paragraph--big, .btn, .contact__form input,
  .contact__form textarea, .pagination__pages-link, table td, .nav__menu-item {
    font-size: 1.333rem; }
    @media screen and (min-width: 768px) {
      .paragraph--big, .btn, .contact__form input,
      .contact__form textarea, .pagination__pages-link, table td, .nav__menu-item {
        font-size: 1rem; } }

.btn {
  background-color: #3be2ae;
  padding: 1rem 3.333rem;
  color: #ffffff;
  border-radius: 2rem 0;
  font-weight: 700;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
  border: 2px solid #3be2ae; }
  .btn:link, .btn:hover, .btn:active, .btn:focus, .btn:visited {
    color: #ffffff;
    text-decoration: none; }
  @media screen and (min-width: 768px) {
    .btn {
      padding: .75rem 2.5rem;
      border-radius: 1.5rem 0; } }
  .btn:hover {
    background-color: transparent;
    border-color: #3be2ae;
    color: #3be2ae; }
  .btn:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  .btn--full {
    width: 100%; }
  .btn--white {
    background-color: #3be2ae;
    color: #3be2ae;
    border-color: #3be2ae; }
    .btn--white:link, .btn--white:hover, .btn--white:active, .btn--white:focus, .btn--white:visited {
      color: #ffffff;
      text-decoration: none; }
    .btn--white:hover {
      background-color: transparent;
      border-color: #ffffff;
      color: #ffffff; }
  .btn--big {
    padding-left: 4.375rem;
    padding-right: 4.375rem; }

.hero {
  position: relative;
  height: 30.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .hero__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .hero__bg-img {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 100%;
      border-bottom-right-radius: 18.75rem;
      position: relative;
      z-index: 1;
      overflow: hidden; }
      .hero__bg-img:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: -webkit-linear-gradient(182deg, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0.67) 100%);
        background-image: -o-linear-gradient(182deg, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0.67) 100%);
        background-image: linear-gradient(268deg, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0.67) 100%); }
      .hero__bg-img--cover:after {
        background-image: none;
        background-color: rgba(0, 0, 0, 0.33); }
    .hero__bg:before {
      content: "";
      position: absolute;
      top: 0;
      left: 2.5rem;
      width: 100%;
      height: 100%;
      border-bottom-right-radius: 18.75rem;
      background-color: rgba(196, 252, 234, 1); }
    .hero__bg:after {
      content: "";
      position: absolute;
      top: 0;
      left: 5.625rem;
      width: 100%;
      height: 100%;
      border-bottom-right-radius: 18.75rem;
      background-color: rgba(236, 254, 248, 0.5); }
    .hero__bg--slider .slick-list, .hero__bg--slider .slick-track {
      height: 100%; }
  .hero__content {
    position: relative;
    z-index: 1; }
  .hero__slider-controls {
    margin-top: 1.667rem; }
    @media screen and (min-width: 768px) {
      .hero__slider-controls {
        margin-top: 1.25rem; } }
    .hero__slider-controls .slick-dots {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      .hero__slider-controls .slick-dots li {
        cursor: pointer;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.3);
        -webkit-transition: all .25s;
        -o-transition: all .25s;
        transition: all .25s; }
        .hero__slider-controls .slick-dots li.slick-active {
          background-color: #333333; }
        .hero__slider-controls .slick-dots li + li {
          margin-left: 8px; }
  .hero--bg {
    background-color: #EFF8EB; }
  .hero--small {
    height: 19.375rem; }

.box {
  background-color: #ffffff;
  border-radius: 5rem 10px;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
  padding: 5rem 3rem 5rem 3rem; }
  @media screen and (min-width: 576px) {
    .box {
      border-radius: 8.75rem 10px;
      padding-left: 5rem;
      padding-right: 5rem; } }

.headline {
  padding-bottom: 10px;
  position: relative; }
  .headline:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 7.5rem;
    background-color: #3be2ae;
    border-radius: 2.5px 0; }

.text-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .text-icon__label {
    margin-right: 4px; }
  .text-icon--forwards:hover {
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px); }

.contact {
  -webkit-transform: translateY(10.3125rem);
  -ms-transform: translateY(10.3125rem);
  transform: translateY(10.3125rem);
  margin-top: -5.3125rem; }
  .contact__form-wrapper:last-child {
    margin-top: 2.5rem; }
    @media screen and (min-width: 576px) {
      .contact__form-wrapper:last-child {
        margin-top: 1.875rem; } }
  @media screen and (min-width: 576px) {
    .contact__form-wrapper + .contact__form-wrapper {
      margin-top: 1.875rem; } }
  .contact__form-group {
    position: relative;
    height: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-top: 2.5rem; }
    @media screen and (min-width: 576px) {
      .contact__form-group {
        height: 3.75rem;
        margin-top: 0; } }
    .contact__form-group--big {
      height: 6.875rem; }
  .contact__form label {
    position: absolute;
    top: 1.25rem;
    left: 0;
    color: rgba(51, 51, 51, 0.5);
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s; }
    @media screen and (min-width: 576px) {
      .contact__form label {
        top: .9375rem; } }
  .contact__form input,
  .contact__form textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    height: 4.167rem;
    border: 0;
    resize: none;
    border-bottom: 1px solid #D8D8D8;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s; }
    @media screen and (min-width: 576px) {
      .contact__form input,
      .contact__form textarea {
        height: 3.125rem; } }
    .contact__form input:focus, .contact__form input:valid,
    .contact__form textarea:focus,
    .contact__form textarea:valid {
      border-width: 2px;
      border-color: #3be2ae; }
      .contact__form input:focus + label, .contact__form input:valid + label,
      .contact__form textarea:focus + label,
      .contact__form textarea:valid + label {
        top: 0; }
  .contact__form textarea {
    height: 6.875rem;
    padding-top: 2rem; }
    @media screen and (min-width: 576px) {
      .contact__form textarea {
        padding-top: 1.5rem; } }

.filters {
  background-color: #EFF8EB;
  padding: 1.9167rem; }
  @media screen and (min-width: 768px) {
    .filters {
      padding: 1.4375rem; } }
  @media screen and (min-width: 768px) {
    .filters__form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 0 3.125rem;
      margin: 0 -.9375rem; } }
  @media screen and (min-width: 768px) {
    .filters__form-group {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin: 0 .9375rem; } }
  .filters__form-group select {
    background-image: url("../images/i-dropdown-arrows.svg");
    background-repeat: no-repeat;
    background-size: auto 10px;
    background-position: calc(100% - 1rem) calc(50% - .5rem); }
    @media screen and (min-width: 768px) {
      .filters__form-group select {
        background-position: calc(100% - 1rem) calc(50% - .25rem); } }
  .filters__form-group select,
  .filters__form-group input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #333333;
    padding-bottom: 1rem;
    background-color: transparent;
    display: block;
    width: 100%;
    height: 100%; }
    @media screen and (min-width: 768px) {
      .filters__form-group select,
      .filters__form-group input {
        padding-bottom: .75rem; } }
    .filters__form-group select::-webkit-input-placeholder,
    .filters__form-group input::-webkit-input-placeholder {
      color: #333333; }
    .filters__form-group select:-ms-input-placeholder,
    .filters__form-group input:-ms-input-placeholder {
      color: #333333; }
    .filters__form-group select::-ms-input-placeholder,
    .filters__form-group input::-ms-input-placeholder {
      color: #333333; }
    .filters__form-group select::placeholder,
    .filters__form-group input::placeholder {
      color: #333333; }
    .filters__form-group select:focus,
    .filters__form-group input:focus {
      outline: none; }
  @media screen and (min-width: 768px) {
    .filters__form-group:last-child {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 0px;
      flex: 0 0 0; } }
  .filters__form-group + .filters__form-group {
    margin-top: 2.5rem; }
    @media screen and (min-width: 768px) {
      .filters__form-group + .filters__form-group {
        margin-top: 0; } }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media screen and (min-width: 768px) {
    .pagination {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; } }
  .pagination__btn {
    color: #333333;
    padding: 5px 1.333rem;
    border: 1px solid #EEEEEE;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    width: 50%; }
    .pagination__btn:link, .pagination__btn:hover, .pagination__btn:active, .pagination__btn:focus, .pagination__btn:visited {
      color: #333333;
      text-decoration: none; }
    @media screen and (min-width: 768px) {
      .pagination__btn {
        padding: 7px 1rem;
        width: auto; } }
    .pagination__btn-icon {
      margin-left: 9px;
      -webkit-transition: all .25s;
      -o-transition: all .25s;
      transition: all .25s; }
    .pagination__btn:hover {
      background-color: #3be2ae;
      border-color: #3be2ae;
      color: #ffffff; }
      .pagination__btn:hover .pagination__btn-icon {
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1); }
    .pagination__btn--prev {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3; }
      @media screen and (min-width: 768px) {
        .pagination__btn--prev {
          -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
          order: 1; } }
      .pagination__btn--prev .pagination__btn-icon {
        margin-left: 0;
        margin-right: 9px;
        -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        transform: scaleX(-1); }
    .pagination__btn--next {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3;
      border-left-width: 0; }
      @media screen and (min-width: 768px) {
        .pagination__btn--next {
          -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
          order: 3;
          border-left-width: 1px; } }
  .pagination__pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 10px 1rem 10px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
    @media screen and (min-width: 768px) {
      .pagination__pages {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0 10px;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2; } }
    .pagination__pages-item + .pagination__pages-item {
      margin-left: 10px; }
    .pagination__pages-link {
      padding: 3px 7px;
      display: inline-block;
      border-radius: 5px 0; }
      .pagination__pages-link:link, .pagination__pages-link:hover, .pagination__pages-link:active, .pagination__pages-link:focus, .pagination__pages-link:visited {
        color: #333333;
        text-decoration: none; }
      .pagination__pages-link--active, .pagination__pages-link:hover {
        background-color: #3be2ae;
        color: #ffffff; }
        .pagination__pages-link--active:link, .pagination__pages-link--active:hover, .pagination__pages-link--active:active, .pagination__pages-link--active:focus, .pagination__pages-link--active:visited, .pagination__pages-link:hover:link, .pagination__pages-link:hover:hover, .pagination__pages-link:hover:active, .pagination__pages-link:hover:focus, .pagination__pages-link:hover:visited {
          color: #ffffff;
          text-decoration: none; }
      .pagination__pages-link--active:hover {
        background-color: #428d2a; }

.table-wrapper {
  max-width: 100%;
  overflow-x: auto; }

table {
  min-width: 100%;
  table-layout: fixed; }
  table th,
  table td {
    padding: 1.25rem 8px;
    vertical-align: middle;
    width: 25%; }
    @media screen and (min-width: 576px) {
      table th,
      table td {
        padding: .9375rem 8px; } }
  table th {
    font-weight: 400;
    opacity: .4; }
  table td {
    color: #000000;
    font-weight: 400;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    border-bottom: 1px solid #D8D8D8; }
    table td:hover {
      -webkit-box-shadow: inset 0 -1px 0 #3be2ae;
      box-shadow: inset 0 -1px 0 #3be2ae;
      color: #3be2ae;
      border-bottom-color: #3be2ae; }

.container {
  padding: 0 30px; }
  @media screen and (min-width: 768px) {
    .container {
      padding: 0 15px; } }
  @media screen and (min-width: 992px) {
    .container {
      max-width: 992px; } }

.header {
  background-color: #282828;
  padding: 2rem 0; }
  @media screen and (min-width: 768px) {
    .header {
      padding: 1.5rem 0; } }
  .header__logo {
    display: block;
    max-width: 165px; }
  .header__btn {
    padding: 0;
    margin: 0;
    width: 30px;
    height: 20px;
    cursor: pointer;
    background: transparent;
    position: relative; }
    .header__btn-line {
      display: block;
      height: 3px;
      width: 2.5rem;
      background-color: #ffffff;
      border-radius: 1rem;
      -webkit-transition: all .25s;
      -o-transition: all .25s;
      transition: all .25s;
      position: absolute;
      left: 0; }
      .header__btn-line:first-child {
        top: 0; }
      .header__btn-line:nth-child(2) {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
      .header__btn-line:last-child {
        bottom: 0; }
  .header--active .header__btn-line:first-child {
    top: 50%;
    -webkit-transform: translateY(50%) rotate(45deg);
    -ms-transform: translateY(50%) rotate(45deg);
    transform: translateY(50%) rotate(45deg); }
  .header--active .header__btn-line:nth-child(2) {
    opacity: 0; }
  .header--active .header__btn-line:last-child {
    top: 50%;
    -webkit-transform: translateY(50%) rotate(-45deg);
    -ms-transform: translateY(50%) rotate(-45deg);
    transform: translateY(50%) rotate(-45deg); }

.footer {
  text-align: center;
  padding: 11.875rem 0 1.5625rem 0;
  background-color: #282828;
  border-top-right-radius: 6.25rem; }

.nav {
  display: none;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .nav {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  .nav__menu {
    margin-top: 2rem;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .nav__menu {
        margin-top: 0;
        width: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-right: 30px; } }
    @media screen and (min-width: 992px) {
      .nav__menu {
        margin-left: 6.75rem; } }
    @media screen and (min-width: 768px) {
      .nav__menu-item + .nav__menu-item {
        margin-left: 1.35rem;
        margin-top: 0; } }
    @media screen and (min-width: 992px) {
      .nav__menu-item + .nav__menu-item {
        margin-left: 1.875rem; } }
    .nav__menu-link {
      display: inline-block;
      padding: 1rem 3.333rem;
      border-radius: 2rem 0; }
      .nav__menu-link:link, .nav__menu-link:hover, .nav__menu-link:active, .nav__menu-link:focus, .nav__menu-link:visited {
        color: #ffffff;
        text-decoration: none; }
      @media screen and (min-width: 768px) {
        .nav__menu-link {
          padding: 0; } }
      .nav__menu-link:hover {
        background-color: #ffffff;
        color: #3be2ae;
        font-weight: 700; }
        @media screen and (min-width: 768px) {
          .nav__menu-link:hover {
            font-weight: 400;
            background: transparent;
            color: #428d2a; } }
  .nav__btn {
    margin: 1rem auto 0 auto; }
    @media screen and (min-width: 768px) {
      .nav__btn {
        margin: 0; } }

.about {
  position: relative;
  z-index: 1;
  -webkit-transform: translateY(-5rem);
  -ms-transform: translateY(-5rem);
  transform: translateY(-5rem);
  margin-bottom: -5rem; }
  @media screen and (min-width: 576px) {
    .about {
      -webkit-transform: translateY(-7.5rem);
      -ms-transform: translateY(-7.5rem);
      transform: translateY(-7.5rem);
      margin-bottom: -7.5rem; } }
  .about__headline {
    margin-bottom: 1rem; }
    @media screen and (min-width: 768px) {
      .about__headline {
        margin-bottom: .75rem; } }
  .about__text p + p {
    margin-top: 1.833rem; }
    @media screen and (min-width: 768px) {
      .about__text p + p {
        margin-top: 1.375rem; } }
  .about__btn {
    margin-top: 2.5rem; }

.partners {
  margin-top: 4.375rem;
  margin-bottom: 6rem; }
  .partners__headline {
    margin-bottom: 3.125rem; }

.section-ingredients {
  background-color: #f3f3f5;
  padding: 5.625rem 0 3.75rem 0;
  border-radius: 7rem 0; }
  @media screen and (min-width: 576px) {
    .section-ingredients {
      border-radius: 15rem 0; } }
  @media screen and (min-width: 768px) {
    .section-ingredients {
      border-radius: 21.875rem 0; } }
  .section-ingredients__headline {
    margin-bottom: 3.125rem; }
  @media screen and (min-width: 768px) {
    .section-ingredients__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 0 -2.1875rem; } }
  .section-ingredients__item {
    margin-bottom: 3.75rem; }
    @media screen and (min-width: 768px) {
      .section-ingredients__item {
        width: calc(33.333% - 2rem);
        margin: 0 1rem 3.75rem 1rem; } }
    @media screen and (min-width: 992px) {
      .section-ingredients__item {
        width: calc(33.333% - 4.375rem);
        margin: 0 2.1875rem 3.75rem 2.1875rem; } }
    .section-ingredients__item-img {
      margin-bottom: 1.25rem;
      background-color: #ffffff;
      border-radius: 2.5rem 0;
      height: 15.5rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto 75%; }
      @media screen and (min-width: 768px) {
        .section-ingredients__item-img {
          height: 11.625rem;
          margin-bottom: .9375rem;
          border-radius: 1.875rem 0; } }
      .section-ingredients__item-img--cover {
        background-size: cover; }

.services {
  padding: 6.25rem 0; }
  .services__headline {
    margin-bottom: 4.0625rem; }
  .services__subheadline {
    margin-bottom: 1.875rem; }
  .services__item {
    position: relative; }
    @media screen and (min-width: 768px) {
      .services__item-slider {
        width: 43.5%; } }
    @media screen and (min-width: 992px) {
      .services__item-slider {
        width: 40.5%; } }
    @media screen and (min-width: 1200px) {
      .services__item-slider {
        width: 42.5%; } }
    @media screen and (min-width: 1400px) {
      .services__item-slider {
        width: 44%; } }
    .services__item-img {
      height: 23rem;
      border-bottom-right-radius: 3.125rem;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
      .services__item-img:focus {
        outline: none; }
    .services__item-copy {
      margin-top: 3.333rem; }
      @media screen and (min-width: 768px) {
        .services__item-copy {
          margin-top: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); } }
    .services__item-categories {
      margin: -.9375rem;
      margin-top: .5rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      @media screen and (min-width: 768px) {
        .services__item-categories {
          margin-top: 0; } }
      @media screen and (min-width: 992px) {
        .services__item-categories {
          width: 80%; } }
      .services__item-categories--full {
        width: 100%; }
    .services__item-category {
      cursor: pointer;
      display: inline-block;
      padding: 8px 3.125rem 8px 1rem;
      position: relative;
      margin: .9375rem;
      width: calc(50% - 1.875rem); }
      @media screen and (min-width: 768px) {
        .services__item-category {
          padding-left: .75rem; } }
      @media screen and (min-width: 992px) {
        .services__item-category {
          white-space: nowrap; } }
      .services__item-category:before {
        content: "";
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        border-radius: 50%;
        background-color: #D8D8D8;
        height: 4px;
        width: 4px;
        -webkit-transition: all .25s;
        -o-transition: all .25s;
        transition: all .25s; }
      .services__item-category:after {
      	
        content: "";
        position: absolute;
        bottom: 0;
        left: 1rem;
        background-color: #D8D8D8;
        height: 1px;
        width: calc(100% - 1rem);
        -webkit-transition: all .25s;
        -o-transition: all .25s;
        transition: all .25s; }
        @media screen and (min-width: 768px) {
          .services__item-category:after {
            left: .75rem;
            width: calc(100% - .75rem); } }
      .services__item-category--active:before, .services__item-category--active:after {
        background-color: #333333; }
    .services__item + .services__item {
      margin-top: 4rem; }
    @media screen and (min-width: 768px) {
      .services__item:nth-child(even) .services__item-slider {
        margin: 0 0 0 auto; } }
    .services__item:nth-child(even) .services__item-img {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 3.125rem; }

.ingredients {
  padding: 2rem 0 4rem 0; }
  .ingredients__pagination {
    margin-top: 3.5rem; }

.u-weight-reg {
  font-weight: 400; }

.u-weight-bld {
  font-weight: 700; }

.u-font-main {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif; }

.u-font-titles {
  font-family: "Merriweather", "Times New Roman", serif; }

.u-color-primary {
  color: #3be2ae; }

.u-color-white {
  color: #ffffff; }

@media screen and (min-width: 768px) {
  .u-flex-md-grow {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; } }

.u-margin-bottom-smallest {
  margin-bottom: 10px; }

.u-margin-bottom-small {
  margin-bottom: 2.083rem; }
  @media screen and (min-width: 768px) {
    .u-margin-bottom-small {
      margin-bottom: 1.5625rem; } }

.u-margin-bottom-med {
  margin-bottom: 2.5rem; }
  @media screen and (min-width: 768px) {
    .u-margin-bottom-med {
      margin-bottom: 1.875rem; } }

.u-margin-bottom-huge {
  margin-bottom: 4.375rem; }
  .u-margin-bottom-huge-2 {
    margin-bottom: 4rem; }
    @media screen and (min-width: 768px) {
      .u-margin-bottom-huge-2 {
        margin-bottom: 7rem; } }

@media screen and (min-width: 768px) {
  .u-margin-md-bottom-null {
    margin-bottom: 0; } }

@media screen and (min-width: 768px) {
  .u-padding-md-horizontal-big {
    padding-left: 5rem;
    padding-right: 5rem; } }

.u-opacity-8 {
  opacity: .8; }

.u-align-inline-center {
  text-align: center; }
