.btn {
    background-color: $color-primary;
    padding: 1rem 3.333rem;
    color: $color-white;
    border-radius: 2rem 0;
    font-weight: 700;
    transition: all .25s;
    border: 2px solid $color-primary;
    @extend .paragraph;
    @extend .paragraph--big;
    @include linkStates($color-white, none);
    @include atMedium {
        padding: .75rem 2.5rem;
        border-radius: 1.5rem 0;
    }

    &:hover {
        background-color: transparent;
        border-color: $color-primary;
        color: $color-primary;
    }

    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }

    &--full {
        width: 100%;
    }

    &--white {
        background-color: $color-white;
        color: $color-primary;
        border-color: $color-white;
        @include linkStates($color-primary, none);

        &:hover {
            background-color: transparent;
            border-color: $color-white;
            color: $color-white;
        }
    }

    &--big {
        padding-left: 4.375rem;
        padding-right: 4.375rem;
    }
}