.hero {
    position: relative;
    height: 30.3125rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;

	&__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

		&-img {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			height: 100%;
			border-bottom-right-radius: 18.75rem;
			position: relative;
			z-index: 1;
			overflow: hidden;

			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: linear-gradient(
					268deg,
					rgba($color-black, 0) 45%,
					rgba($color-black, 0.67) 100%
				);
			}

			&--cover {
				&:after {
					background-image: none;
					background-color: rgba($color-black, .33);
				}
			}
		}

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 2.5rem;
			width: 100%;
			height: 100%;
			border-bottom-right-radius: 18.75rem;
			background-color: rgba($color-primary, 0.1);
		}

		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 5.625rem;
			width: 100%;
			height: 100%;
			border-bottom-right-radius: 18.75rem;
			background-color: rgba($color-primary, 0.05);
		}

		&--slider {
			.slick {
				&-list,
				&-track {
					height: 100%;
				}
			}
		}
    }
    
    &__content {
        position: relative;
        z-index: 1;
	}

	&__slider-controls {
		margin-top: 1.667rem;
		@include atMedium {
			margin-top: 1.25rem;
		}

		.slick-dots {
			display: flex !important;
			align-items: center;
			justify-content: flex-start;

			li {
				cursor: pointer;
				height: 8px;
				width: 8px;
				border-radius: 50%;
				background-color: rgba($color-white, .3);
				transition: all .25s;

				&.slick-active {
					background-color: $color-dark;
				}

				& + li {
					margin-left: 8px;
				}
			}
		}
	}

	&--bg {
		background-color: $color-primary-lgt;
	}
	
	&--small {
		height: 19.375rem;
	}
}
