// Colors
$color-primary: #55B436;
$color-primary-lgt: #EFF8EB;

$color-dark: #333333;

$color-white: #ffffff;
$color-black: #000000;
$color-gray: #D8D8D8;
$color-gray-lgt: #EEEEEE;
$color-gray-drk: #505050;


// Typography
@import url('https://fonts.googleapis.com/css?family=Merriweather:700|Open+Sans:400,700');

$font-titles: "Merriweather", "Times New Roman", serif;
$font-main: "Open Sans", "Helvetica", "Arial", sans-serif;